[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MappingCalc"]
	path = MappingCalc
	url = https://github.com/edimansyahabdin/mappingcalc
